.contOne {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.contOne input {
    width: 100%;
    border: 1px solid #ada9a9;
    border-radius: 4px;
    text-indent: 10px;
    padding: 8px 0;
}

.contOne span {
    position: absolute;
    right: 4%;
    font-size: 20px;
    color: red;
}

.divModal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divModal svg {
    font-size: 50px;
}

.divModal svg path {
    fill: green !important;
}

.contTwo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.contTwo div {
    width: 48% !important;
    position: relative;
    display: flex;
    align-items: center;
}

.contTwo div span {
    position: absolute;
    right: 4%;
    font-size: 20px;
    color: red;
}

.contTwo div input {
    width: 100%;
    border: 1px solid #ada9a9;
    border-radius: 4px;
    text-indent: 10px;
    padding: 8px 0;
}

.contThree {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
}

.contThree input {
    width: 100%;
    border: 1px solid #ada9a9;
    border-radius: 4px;
    text-indent: 10px;
    padding: 8px 0 12rem 0;
}

.contThree span {
    position: absolute;
    right: 4%;
    font-size: 20px;
    color: red;
}

.contBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contBtn button {
    width: 100%;
    border: none;
    background: #B28F53;
    border-radius: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 167.88%;
    color: #FFFFFF;
    padding: 5px 0;
    transition: 0.5s;
}

.contBtn button:hover {
    width: 100%;
    border: none;
    background: #B28F53;
    border-radius: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 167.88%;
    color: #FFFFFF;
    padding: 5px 0;
    opacity: 0.5;
    transition: 0.5s;
}

.title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 167.88%;
    color: #000000;
}

.titleDiv {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

.titleDiv h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 149.88%;
    color: #5D5D57;
}

.mainDivs {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

.divsData {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 0.5rem;
    margin: 0.8rem 0;
}

.divsData img {
    background: #856228;
    padding: 15px;
    border-radius: 50%;
    margin-right: 2rem;
}

.divsData div h5 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 185.88%;
    color: #000000;
    margin: 0;
}

.divsData div p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 185.88%;
    color: #444345;
    margin: 0;
}

.mapMain {
    width: 100%;
    height: 15rem;
    margin: 10rem 0 2rem 0;
}

.mapMain iframe {
    width: 100%;
    height: 100%;
}

@media(max-width: 650px) {
    .mainDivs {
        width: 100%;
        height: 100%;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .mapMain {
        width: 100%;
        height: 15rem;
        margin: 5rem 0 2rem 0;
    }
}